 * {    
    margin: 0;
    /* padding: 0;     */
    box-sizing: border-box;
    
}

#contentall {
    background-image: url(onurimages/background-paper2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100vh;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(onurimages/background-school.jpg);
    background-color: #333333;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh; 
    color: white;    
    
}

header {
    
    max-width: 800px;
    padding: 2rem 1rem;    
    width: 100%;
    margin: 2rem auto;
    /* border: 5px solid rgba(150, 147, 147, 0.452);
    border-bottom: #b1b1b1; */

}

header h1 {
    float: right;
    font-family: 'Ink Free';
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 5rem;
    margin-right: 18rem;
    color: #333333;
        
}

#logomain {    
    height: 50px;
    width: auto;
    margin-top: 5rem;
    margin-bottom: 1rem;
    margin-left: 15rem;
}

#new-task-form {    
    display: flex;    
    padding: 0.5rem 8rem;
    
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-task-input {
    flex: 1 1 0%;
    background-color: rgba(0, 0, 0, 0.100);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: #333333;
    font-size: 1.25rem;

}

#new-task-input::placeholder {
    color: #333333;
    
}

#new-task-submit {
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, rgb(162, 49, 177), rgb(55, 53, 204), rgb(207, 116, 30));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
    margin-top: 0.5rem;
    height: 32px;
    width: 32px;
}

#new-task-submit:hover {
    opacity: 0.8;
}

#new-task-submit:active {
    opacity: 0.7s;
}

main {
    flex: 1 1 0%;
    padding: 2rem 1 rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list {
    padding: 0 9rem;
    
    
}

.task-list h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;    
    font-weight: 500;
    color: #333333;
    margin-bottom: 1rem;
    
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.100);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#tasks .task .content .text {
    color: #333333;
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

#tasks .task .content .text:not(:read-only) {
    color: rgb(185, 185, 99);

}

#tasks .task .actions {
    display: flex;
    margin: 0 1rem;
    height: 32px;
    width: 32px;

}

.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
    
}

.task .actions button:hover {
    opacity: 0.8;
}

.task .actions button:active {
    opacity: 0.7s;
}

.task .actions .edit {
    background-image: linear-gradient(to right, rgb(162, 49, 177), rgb(55, 53, 204), rgb(207, 116, 30));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.task .actions .delete {
    color: crimson;
}